<section id="primary_layout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <h3 id="primary_heading"><span>#&nbsp;</span>A Glimpse Of  Our Work</h3>
                <mat-chip-listbox aria-label="Fish selection">
                    <mat-chip-option selected>All</mat-chip-option>
                    <mat-chip-option>Wordpress</mat-chip-option>
                    <mat-chip-option >E-Commerce</mat-chip-option>
                    <mat-chip-option>Landing Pages</mat-chip-option>
                  </mat-chip-listbox>
                  <br>

                  
            </div>
        </div>
        <div class="row" id="portfolio_images">
            <div class="col-md-4">
                <img src="https://assets.startbootstrap.com/img/screenshots/premium/sb-ui-kit-pro.high.webp" style="width: 100%">
            </div>
            <div class="col-md-4">
                <img src="https://assets.startbootstrap.com/img/screenshots/premium/sb-ui-kit-pro.high.webp" style="width: 100%">
            </div>
            <div class="col-md-4">
                <img src="https://assets.startbootstrap.com/img/screenshots/premium/sb-ui-kit-pro.high.webp" style="width: 100%">
            </div>
        </div>
    </div>
</section>
