<section  id="branding_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-xs-1"></div>
            <div class="col-sm-8 col-xs-10" id="branding_section_col">
                <h1 align="center" id="branding_section_heading" >
                    Explore The Creative Process
                </h1>
                <p id="branding_section_subtitle" align="center">We Use Design Thinking, Agile Approaches, And Customer-Centricity To Bring Together Ideas And The Capabilities Required To Execute Them To Help Businesses Grow And Thrive.</p>
                <br>
                <button mat-raised-button color="primary" id="primary_button" 
                (click)="open_route('portfolio')"
                >Explore</button>
            </div>
            <div class="col-sm-2 col-xs-1"></div>
            
        </div>
    </div>
</section>
<section id="info_section">
    <div class="container">
        <div class="row">
            <div class="col-md-3" id="info_section_half"> 
                <div class="custom_pill" id="pill_1">
                    <h1 class="pill_heading">Build or Extend your business</h1>
                    <p class="pill_subtitle"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis culpa error sapiente ipsa voluptates.</p>
                </div>
                <h1 class="custom_pill" id="pill_2">
                    <h1 class="pill_heading">Improve Rankings</h1>
                    <p class="pill_subtitle"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis culpa error sapiente ipsa voluptates.</p>
                </h1>
                <h1 class="custom_pill" id="pill_3">
                    <h1 class="pill_heading">Build or Extend your business</h1>
                    <p class="pill_subtitle"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis culpa error sapiente ipsa voluptates.</p>
                </h1>


            </div>
            <div class="col-md-6">
                <img src="assets/services.png" style="width: 100%;">
            </div>
            <div class="col-md-3" id="info_section_half"> 
                <div class="custom_pill" id="pill_4">
                    <h1 class="pill_heading">Build or Extend your business</h1>
                    <p class="pill_subtitle"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis culpa error sapiente ipsa voluptates.</p>
                </div>
                <h1 class="custom_pill" id="pill_5">
                    <h1 class="pill_heading">Build or Extend your business</h1>
                    <p class="pill_subtitle"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis culpa error sapiente ipsa voluptates.</p>
                </h1>
                <h1 class="custom_pill" id="pill_6">
                    <h1 class="pill_heading">Build or Extend your business</h1>
                    <p class="pill_subtitle"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis culpa error sapiente ipsa voluptates.</p>
                </h1>


            </div>
        </div>
    </div>
</section>

<section id="services_section">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                
                <h3 id="primary_heading" align="center"><span>#&nbsp;</span>What We Do</h3>
                <p id="services_section_subtitle" align="center">Our core team is a group of expert researchers. We do a deep down research on any project prior than starting any work on it. This results in providing the best end products to our clients.</p>
                <br>
                <br>
                <br>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row" id="services_row">
            <div class="col-md-3">
                <div class="card"> 
                    <div class="card_structure">
                        <mat-icon>language</mat-icon>
                        <h2>Web Development</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio accusantium ipsum rem officiis numquam placeat cum culpa impedit fugiat neque aspernatur velit nesciunt magnam aliquid modi quibusdam et, dolores dicta?</p>
                    </div>
                    
                </div>
             
            </div>
            <div class="col-md-3">
                <div class="card"> 
                    <div class="card_structure">
                        <mat-icon>install_mobile</mat-icon>
                        <h2>Mobile Application Development</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio accusantium ipsum rem officiis numquam placeat cum culpa impedit fugiat neque aspernatur velit nesciunt magnam aliquid modi quibusdam et, dolores dicta?</p>
                    </div>
                    
                </div>
             
            </div>
            <div class="col-md-3">
                <div class="card"> 
                    <div class="card_structure">
                        <mat-icon>language</mat-icon>
                        <h2>Web Development</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio accusantium ipsum rem officiis numquam placeat cum culpa impedit fugiat neque aspernatur velit nesciunt magnam aliquid modi quibusdam et, dolores dicta?</p>
                    </div>
                    
                </div>
             
            </div>
            <div class="col-md-3">
                <div class="card"> 
                    <div class="card_structure">
                        <mat-icon>language</mat-icon>
                        <h2>Web Development</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio accusantium ipsum rem officiis numquam placeat cum culpa impedit fugiat neque aspernatur velit nesciunt magnam aliquid modi quibusdam et, dolores dicta?</p>
                    </div>
                    
                </div>
             
            </div>
        </div>
    </div>
</section>